APP_NAME=Navi MVP
APP_ENV=development
APP_DEBUG=false

ACCOUNT_SID=your_twilio_sid
AUTH_TOKEN=your_twilio_auth_token
TWILIO_NUMBER=whatsapp:+5511999999999

SECRET_KEY=change-this-secret
ALGORITHM=HS256
# Admin key must be different from SECRET_KEY (see NAVI-SEC-002)
ADMIN_SECRET_KEY=change-this-admin-secret
OPENAI_API_KEY=your_openai_api_key

DATABASE_HOST=db
DATABASE_NAME=navimvp
DATABASE_USER=navimvp
DATABASE_PASSWORD=navimvppw
DATABASE_PORT=5432
